<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Savings </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='WealthWatchersStyle.css') }}">
</head>
<body>
    <div class="header">
        <h1>Edit Savings</h1>
    </div>
    <nav>
        <a href="{{ url_for('home') }}">Home</a>
    </nav>

    <div class="container">
        <form method="POST">
            <label for="amount">Amount:</label>
            <input type="number" name="amount" value= "{{ saving.amount }}" step="0.01" required>

            <label for="category_id">Category</label>
            <select name="category_id" required>
                {% for cat in categories %}
                    <option value="{{ cat.id }}" {% if cat.id == saving.category_id %}selected{% endif %}>{{ cat.name }}</option>
                {% endfor %}
            </select>

            <label for="description">Description:</label>
            <input type="text" name="description" value="{{ saving.description}}">

            <label for ="date">Date:</label>
            <input type="date" name="date" value="{{ saving.date }}" required>

            <label for="account_id">Account</label>
            <select name="account_id" required>
                {% for acct in accounts %}
                    <option value="{{ acct.id }}" {% if acct.id == saving.account_id %}selected{% endif %}>{{ acct.name }}</option>
                {% endfor %}
            </select>
        </form>
    </div>
</body>
</html>
