<!DOCTYPE html>
<html lang="en">
<head>
    <title>WealthWachers - Admin Dashboard </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='WealthWatchersStyle.css') }}">
</head>
<body>
    <div class="header">
        <h1>WealthWatchers Admin</h1>
    </div>
    {% include 'navigation_bar.html' %}
    <h2>All Users</h2>
    <table>
        <tr>
            <th>Email</th><th>Admin</th><th>Actions</th>
        </tr>
        {% for user in users %}
        <tr>
            <!-- <td>{{ user.id }}</td> -->
            <td>{{ user.email }}</td>
            <td>{{ "Yes" if user.is_admin else "No" }}</td>
            <td>
                {% if not user.is_admin %}
                <form action="{{ url_for('delete_user', user_id=user.user_id) }}" method="post">
                    <button type="submit">Delete</button>
                </form>
                {% else %}
                ---
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
