<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='wealthwatchersStyle.css') }}">
</head>
<body>
  <div class="header">
      <h1>Your Categories</h1>
  </div>

  <div id="toast-container"></div>
  {% include 'navigation_bar.html' %}
  <div class="container">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for category in categories %}
        <tr>
          <td>{{ category.category_name }}</td>
          <td>{{ category.description or "No description" }}</td>
          <td>
            <form data-category-id="{{ category.category_id }}" class="delete-category-form" method="POST" style="display:inline;">
              <button class="btn" type="submit">Delete</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h2>Add a New Category</h2>
    <form method="POST" id="add-category-form">
      <label for="category_name">Category Name:</label>
      <input type="text" id="category_name" name="category_name" required>

      <label for="description">Description:</label>
      <textarea id="description" name="description"></textarea>

      <button type="submit">Add Category</button>
    </form>
  </div>

  <script src="{{ url_for('static', filename='JS/category_manage.js') }}"></script>
</body>
</html>
