{% extends 'base.html' %}
{% block content %}
<h2>Login</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.email.label }} {{ form.email(class="form-control") }}
    {{ form.password.label }} {{ form.password(class="form-control") }}
    <br>
    {{ form.submit(class="btn btn-primary") }}
</form>
<p class="mt-2">New here? <a href="{{ url_for('register') }}">Register</a></p>
<p class="mt-2">Forgot Password? <a href="{{ url_for('forgot_password') }}">Forgot password</a></p>
{% endblock %}
