{% extends 'base.html' %}
{% block content %}
<h2>Register</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.email.label }} {{ form.email(class="form-control") }}
    {{ form.firstname.label }} {{ form.firstname(class="form-control") }}
    {{ form.lastname.label }} {{ form.lastname(class="form-control") }}
    {{ form.password.label }} {{ form.password(class="form-control") }}
    {{ form.confirm.label }} {{ form.confirm(class="form-control") }}
    {{ form.role.label }} {{ form.role(class="form-control") }}
    {{ form.submit(class="btn btn-success") }}
</form>
<p class="mt-2">Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
{% endblock %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <title>Register - Wealth Watchers</title>
</head>
<body>
    <h2>Register</h2>
    <h1>TESTING REGISTER PAGE</h1>
    <form method="POST">
        <label>Username:</label><br>
        <input type="text" name="username" required><br><br>
        <label>Email:</label><br>
        <input type="email" name="email" required><br><br>
        <label>Password:</label><br>
        <input type="password" name="password" required><br><br>
        <button type="submit">Register</button>
    </form>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p style="color:red;">{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <p class="mt-2">Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
</body>
</html> -->
